{# templates/bills/print.html.twig #}
{% extends 'default.html.twig' %}

{# Заголовки #}
{% block title %}{{ title }}{% endblock %}
{% block caption %}{{ title }}{% endblock %}

{# Панель навигации вверху #}
{% block nav %}
        <nav class="navbar navbar-expand-md navbar-light">
          <div class="container-fluid px-0 mb-1">
              <form class="d-flex w-100" method="GET" action="/applications/bills/search">
                <div class="input-group input-group-sm mt-2">
                  <input type="text" class="form-control" placeholder="Поиск по счетам" aria-label="Поиск по счетам" name="q" />
                  <button class="btn btn-outline-secondary button-search" type="button" onClick="$(this).closest('form').submit();"><i class="bi bi-search"></i></button>
                </div>
              </form>
          </div>
        </nav>
{% endblock %}

{# Контент #}
{% block content %}
    {% set fileId = 0 %}
    {% if bills|length > 0 %}
        <ul class="nav nav-tabs mt-4 mb-4" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="visible-tab" data-bs-toggle="tab" data-bs-target="#visible" type="button" role="tab">Активные</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="invisible-tab" data-bs-toggle="tab" data-bs-target="#invisible" type="button" role="tab">Скрытые</button>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade show active" id="visible" role="tabpanel">
                {% set cnt = 0 %}
                {% for bill in bills %}
                    {% if not bill.obj.getIsHidden %}{% set cnt = cnt + 1 %}{% endif %}
                {% endfor %}
                {% if cnt == 0 %}
                    <p class="text-muted">Нет активных счетов</p>
                {% else %}
                    <fieldset>
                        <div class="container-fluid w-100 px-0 overflow-scroll mt-0 mb-1 pb-3">
                            <table class="table table-sm table-hover table-bordered table-striped mb-0 billsTable">
                                <thead>
                                    <tr>
                                        <th class="py-2 align-middle text-center text-small" scope="col" style="width: 40px;">№</th>
                                        <th class="py-2 align-middle text-small" scope="col">Заявка</th>
                                        <th class="py-2 align-middle text-small text-nowrap" scope="col">Отправитель<br />Ответственный {# <a role="button" class="text-primary" data-bs-toggle="modal" data-bs-target="#filterModal" id="toggleFilterModal"><i class="bi bi-funnel"></i></a> #}</th>
                                        <th class="py-2 align-middle text-small" scope="col">Поставщик</th>
                                        <th class="py-2 align-middle text-small" scope="col">Сумма<br />Срочность</th>
                                        <th class="py-2 align-middle text-small" scope="col">Комментарии</th>
                                        <th class="py-2 align-middle text-small w-auto" scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% set billNum = 0 %}
                                {% for bill in bills %}
                                    {% if not bill.obj.getIsHidden %}
                                        {% set billNum = billNum + 1 %}
                                        <tr>
                                            <td class="align-middle text-center text-small">{{ billNum }}</td>
                                            <td class="align-top text-small text-nowrap">
                                                {% if bill.applications|length == 0 %}
                                                    <a href="/applications/bills/in-work/view/?id={{ bill.obj.getId }}" class="text-warning">Счет без заявки</a>
                                                {% else %}
                                                    {% for application in bill.applications %}
                                                        {% if loop.index > 1 %}<br />{% endif %}<a href="/applications/bills/in-work/view/?id={{ bill.obj.getId }}">{{ application.getTitle }}</a> <span class="text-muted text-small">№{{ application.getId }} от {{ application.getDateCreate|date('d.m.Y') }}</span>
                                                    {% endfor %}
                                                {% endif %}
                                                <hr class="mt-1 mb-1" />
                                                <span class="text-muted text-small">{{ bill.obj.getNum }} на сумму {{ bill.obj.sum|number_format(2, '.', ' ') }} {{ bill.obj.currency }}</span>
                                            </td>
                                            <td class="align-middle text-xsmall text-nowrap">
                                                {% if bill.applications|length > 0 %}
                                                    {% for application in bill.applications %}{% if loop.index > 1 %}<br />{% endif %}{{ application.getAuthor.getShortUsername }}{% endfor %}
                                                    <hr class="mt-1 mb-1" />
                                                {% endif %}
                                                <span class="responsible">{{ bill.obj.getUser.getShortUsername }}</span>
                                            </td>
                                            <td class="align-top text-small text-nowrap">
                                                <table>
                                                    <tbody>
                                                        {% if bill.provider != null and bill.provider.getTitle != '' %}
                                                            <tr>
                                                                <td class="text-muted pe-2">Наименование:</td>
                                                                <td>{{ bill.provider.getTitle }}</td>
                                                            </tr>
                                                        {% endif %}
                                                        <tr>
                                                            <td class="text-muted pe-2">ИНН:</td>
                                                            <td>{{ bill.obj.getInn }}</td>
                                                        </tr>
                                                        {% if bill.provider != null and bill.provider.getPhone != '' %}
                                                            <tr>
                                                                <td class="text-muted pe-2">Телефон:</td>
                                                                <td>{{ bill.provider.getPhone }}</td>
                                                            </tr>
                                                        {% endif %}
                                                    </tbody>
                                                </table>
                                            </td>
                                            <td class="align-middle text-xsmall text-nowrap">
                                                {{ bill.obj.sum|number_format(2, '.', ' ') }} {{ bill.obj.currency }}
                                                {% if bill.urgency %}<br /><i class="bi bi-exclamation-triangle text-danger"></i> <span class="text-danger">Срочно</span>{% endif %}
                                            </td>
                                            <td class="align-middle text-xsmall fs-8 align-justify" style="max-width: 300px!important;">
                                                {% if bill.obj.getNote != '' %}
                                                    {{ bill.obj.getNote }}
                                                {% else %}
                                                    <span class="text-muted">Нет комментариев</span>
                                                {% endif %}
                                            </td>
                                            <td class="align-middle text-center text-nowrap us-none">
                                                {% if bill.obj.getUser.getId == app.user.getId %}
                                                    <a class="kv-file-download btn btn-sm btn-kv btn-default btn-outline-warning bill-hide-btn" title="Скрыть" data-id="{{ bill.id }}" data-hidden="1" href="#?" /><i class="bi-eye-slash"></i></a>
                                                {% endif %}
                                                <a class="kv-file-download btn btn-sm btn-kv btn-default btn-outline-success" title="Распечатать на подпись" href="/applications/bills/download?id={{ bill.id }}" target="_blank"><i class="bi-printer"></i></a>
                                                <a class="kv-file-download btn btn-sm btn-kv btn-default btn-outline-secondary filePreview" data-id="thumb-attachments-init-{{ fileId }}" title="Просмотр" href="#?" target="_blank"><i class="bi-zoom-in"></i></a>
                                                <a class="kv-file-download btn btn-sm btn-kv btn-default btn-outline-secondary" title="Скачать файл" href="/upload/bills/{{ bill.obj.getPath }}" target="_blank"><i class="bi-download"></i></a>
                                                {# <a class="kv-file-download btn btn-sm btn-kv btn-default btn-outline-primary" title="Информация по счету" href="/applications/bills/in-work/view/?id={{ bill.obj.getId }}"><i class="bi bi-info-lg"></i></a> #}
                                            </td>
                                        </tr>
                                        {% set fileId = fileId + 1 %}
                                    {% endif %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </fieldset>
                {% endif %}
            </div>
            <div class="tab-pane fade" id="invisible" role="tabpanel">
                {% set cnt = 0 %}
                {% for bill in bills %}
                    {% if bill.obj.getIsHidden %}{% set cnt = cnt + 1 %}{% endif %}
                {% endfor %}
                {% if cnt == 0 %}
                    <p class="text-muted">Нет скрытых счетов</p>
                {% else %}
                    <fieldset>
                        <div class="container-fluid w-100 px-0 overflow-scroll mt-0 mb-1 pb-3">
                            <table class="table table-sm table-hover table-bordered table-striped mb-0 us-none billsTable">
                                <thead>
                                    <tr>
                                        <th class="py-2 align-middle text-center text-small" scope="col" style="width: 40px;">№</th>
                                        <th class="py-2 align-middle text-small" scope="col">Заявка</th>
                                        <th class="py-2 align-middle text-small text-nowrap" scope="col">Отправитель<br />Ответственный {# <a role="button" class="text-primary" data-bs-toggle="modal" data-bs-target="#filterModal" id="toggleFilterModal"><i class="bi bi-funnel"></i></a> #}</th>
                                        <th class="py-2 align-middle text-small" scope="col">Поставщик</th>
                                        <th class="py-2 align-middle text-small" scope="col">Сумма<br />Срочность</th>
                                        <th class="py-2 align-middle text-small" scope="col">Комментарии</th>
                                        <th class="py-2 align-middle text-small w-auto" scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% set billNum = 0 %}
                                {% for bill in bills %}
                                    {% if bill.obj.getIsHidden %}
                                        {% set billNum = billNum + 1 %}
                                        <tr>
                                            <td class="align-middle text-center text-small">{{ billNum }}</td>
                                            <td class="align-top text-small text-nowrap">
                                                {% for application in bill.applications %}
                                                    {% if loop.index > 1 %}<br />{% endif %}<a href="/applications/bills/in-work/view/?id={{ bill.obj.getId }}">{{ application.getTitle }}</a> <span class="text-muted text-small">№{{ application.getId }} от {{ application.getDateCreate|date('d.m.Y') }}</span>
                                                {% endfor %}
                                                <hr class="mt-1 mb-1" />
                                                <span class="text-muted text-small">{{ bill.obj.getNum }} на сумму {{ bill.obj.sum|number_format(2, '.', ' ') }} {{ bill.obj.currency }}</span>
                                            </td>
                                            <td class="align-middle text-xsmall text-nowrap">
                                                {% for application in bill.applications %}{% if loop.index > 1 %}<br />{% endif %}{{ application.getAuthor.getShortUsername }}{% endfor %}
                                                <hr class="mt-1 mb-1" /><span class="responsible">{{ bill.obj.getUser.getShortUsername }}</span>
                                            </td>
                                            <td class="align-top text-small text-nowrap">
                                                <table>
                                                    <tbody>
                                                        {% if bill.provider != null and bill.provider.getTitle != '' %}
                                                            <tr>
                                                                <td class="text-muted pe-2">Наименование:</td>
                                                                <td>{{ bill.provider.getTitle }}</td>
                                                            </tr>
                                                        {% endif %}
                                                        <tr>
                                                            <td class="text-muted pe-2">ИНН:</td>
                                                            <td>{{ bill.obj.getInn }}</td>
                                                        </tr>
                                                        {% if bill.provider != null and bill.provider.getPhone != '' %}
                                                            <tr>
                                                                <td class="text-muted pe-2">Телефон:</td>
                                                                <td>{{ bill.provider.getPhone }}</td>
                                                            </tr>
                                                        {% endif %}
                                                    </tbody>
                                                </table>
                                            </td>
                                            <td class="align-middle text-xsmall text-nowrap">
                                                {{ bill.obj.sum|number_format(2, '.', ' ') }} {{ bill.obj.currency }}
                                                {% if bill.urgency %}<br /><i class="bi bi-exclamation-triangle text-danger"></i> <span class="text-danger">Срочно</span>{% endif %}
                                            </td>
                                            <td class="align-middle text-xsmall fs-8 align-justify" style="max-width: 300px!important;">
                                                {% if bill.obj.getNote != '' %}
                                                    {{ bill.obj.getNote }}
                                                {% else %}
                                                    <span class="text-muted">Нет комментариев</span>
                                                {% endif %}
                                            </td>
                                            <td class="align-middle text-center text-nowrap">
                                                {% if bill.obj.getUser.getId == app.user.getId %}
                                                    <a class="kv-file-download btn btn-sm btn-kv btn-default btn-outline-warning bill-hide-btn" title="Отобразить" data-id="{{ bill.id }}" data-hidden="0" href="#?" /><i class="bi-eye"></i></a>
                                                {% endif %}
                                                <a class="kv-file-download btn btn-sm btn-kv btn-default btn-outline-success" title="Распечатать на подпись" href="/applications/bills/download?id={{ bill.id }}" target="_blank"><i class="bi-printer"></i></a>
                                                <a class="kv-file-download btn btn-sm btn-kv btn-default btn-outline-secondary filePreview" data-id="thumb-attachments-init-{{ fileId }}" title="Просмотр" href="#?" target="_blank"><i class="bi-zoom-in"></i></a>
                                                <a class="kv-file-download btn btn-sm btn-kv btn-default btn-outline-secondary" title="Скачать файл" href="/upload/bills/{{ bill.obj.getPath }}" target="_blank"><i class="bi-download"></i></a>
                                                {# <a class="kv-file-download btn btn-sm btn-kv btn-default btn-outline-primary" title="Информация по счету" href="/applications/bills/in-work/view/?id={{ bill.obj.getId }}"><i class="bi bi-info-lg"></i></a> #}
                                            </td>
                                        </tr>
                                        {% set fileId = fileId + 1 %}
                                    {% endif %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </fieldset>
                {% endif %}
            </div>
        </div>

        {# Скрытый fileinput для инициализации предпросмотра #}
        <div class="d-none">
            <input id="attachments" type="file" name="" multiple="multiple" />
        </div>
    {% else %}
        <p class="text-muted">Нет счетов в работе</p>
    {% endif %}
{% endblock %}

{# Модальные окна #}
{% block modal %}
    {# Фильтрация заявки по ответственному #}
    <div class="modal fade" id="filterModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Фильтр по ответственному</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                </div>
                <div class="modal-body">
                    <div class="form-floating">
                        <select class="form-select" id="filterSelect">
                            <option selected disabled>Выберите</option>
                            {% for user in users %}
                                <option>{{ user.getShortUserName }}</option>
                            {% endfor %}
                        </select>
                        <label for="filterSelect">Ответственный</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-danger d-none" id="filterCancelBtn">Сбросить фильтр</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                    <button type="button" class="btn btn-primary" id="filterBtn">Сохранить</button>
                    <div class="spinner-border text-primary d-none" role="status"><span class="visually-hidden">Обработка...</span></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{# Скрипты #}
{% block scripts %}
    <script src="{{ asset('js/fileinput.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/fileinput.ru.js') }}" type="text/javascript"></script>
    {% if bills|length > 0 %}
    <script type="text/javascript">
        var params = {
            initialPreview: [
            {% for bill in bills %}
                {% if not bill.obj.getIsHidden %}
                    {% if bill.obj.getFileType == 'image' %}
                        '<img src="{{ url('index') }}upload/bills/{{ bill.obj.getPath }}" class="file-preview-image" alt="" />',
                    {% else %}
                        '{{ url('index') }}upload/bills/{{ bill.obj.getPath }}',
                    {% endif %}
                {% endif %}
            {% endfor %}
            {% for bill in bills %}
                {% if bill.obj.getIsHidden %}
                    {% if bill.obj.getFileType == 'image' %}
                        '<img src="{{ url('index') }}upload/bills/{{ bill.obj.getPath }}" class="file-preview-image" alt="" />',
                    {% else %}
                        '{{ url('index') }}upload/bills/{{ bill.obj.getPath }}',
                    {% endif %}
                {% endif %}
            {% endfor %}
            ],
            initialPreviewAsData: true,
            hideThumbnailContent: true,
            initialPreviewConfig: [
            {% for bill in bills %}
                {% if not bill.obj.getIsHidden %}
                    {% if bill.obj.getFileType == 'image' %}
                        {type: '{{ bill.obj.getFileType }}', caption: '{{ bill.obj.getFilename }}', downloadUrl: '{{ url('index') }}upload/bills/{{ bill.obj.getPath }}', previewAsData: false},
                    {% else %}
                        {type: '{{ bill.obj.getFileType }}', caption: '{{ bill.obj.getFilename }}', downloadUrl: '{{ url('index') }}upload/bills/{{ bill.obj.getPath }}'},
                    {% endif %}
                {% endif %}
            {% endfor %}
            {% for bill in bills %}
                {% if bill.obj.getIsHidden %}
                    {% if bill.obj.getFileType == 'image' %}
                        {type: '{{ bill.obj.getFileType }}', caption: '{{ bill.obj.getFilename }}', downloadUrl: '{{ url('index') }}upload/bills/{{ bill.obj.getPath }}', previewAsData: false},
                    {% else %}
                        {type: '{{ bill.obj.getFileType }}', caption: '{{ bill.obj.getFilename }}', downloadUrl: '{{ url('index') }}upload/bills/{{ bill.obj.getPath }}'},
                    {% endif %}
                {% endif %}
            {% endfor %}
            ],
            language: 'ru'
        };

        $(document).ready(function() {
            //Получаем instance модального окна
            const filterModal = new bootstrap.Modal(document.getElementById('filterModal'));

            //Фильтрация по ответственному
            $('#filterBtn').click(function() {
                //Получаем текущее значение
                var filterResponsible = $('#filterSelect').val();

                $('#billsTable tbody tr').removeClass('d-none');

                if (filterResponsible != 'Выберите') {
                $('#billsTable tbody tr').each(function() {
                    var tr = $(this);
                    
                    if (tr.find('.responsible').text() != filterResponsible) {
                        tr.addClass('d-none');
                    }
                });
                $('#toggleFilterModal i').removeClass('bi-funnel').addClass('bi-funnel-fill');
                } else {
                $('#toggleFilterModal i').removeClass('bi-funnel-fill').addClass('bi-funnel');
                }

                filterModal.hide();
                $('#filterCancelBtn').removeClass('d-none');
            });

            $('#filterCancelBtn').click(function() {
                $('#billsTable tbody tr').removeClass('d-none');
                $('#toggleFilterModal i').removeClass('bi-funnel-fill').addClass('bi-funnel');
                filterModal.hide();
                $('#filterCancelBtn').addClass('d-none');
            });

            //Скрытие и отображение счета
            $('body').on('click', '.bill-hide-btn', function(event) {
                event.preventDefault();
                
                var row = $(this).closest('tr').clone();
                var tr = $(this).closest('tr');
                var billId = $(this).data('id');
                var isHidden = $(this).data('hidden');

                $.get('/applications/bills/set-state?id=' + billId + '&hidden=' + isHidden, function() {
                    tr.hide('fast', function() {
                        tr.remove();
                        if (isHidden == 1) {
                            //Проверяем вдруг не осталось активных счетов
                            if ($('#visible .billsTable tbody:first tr').length == 0) {
                                $('#visible').html('<p class="text-muted">Нет активных счетов</p>');
                            }
                        } else {
                            //Проверяем вдруг не осталось скрытых счетов
                            if ($('#invisible .billsTable tbody:first tr').length == 0) {
                                $('#invisible').html('<p class="text-muted">Нет скрытых счетов</p>');
                            }
                        }
                    });

                    if (isHidden == 1) {
                        row.find('.bill-hide-btn').attr('data-hidden', 0).find('i').removeClass('bi-eye-slash').addClass('bi-eye');

                        //Вдруг таблицы нет
                        if ($('#invisible .billsTable').length == 0) {
                            $('#invisible .text-muted').remove();
                            $('#invisible').html('<fieldset><div class="container-fluid w-100 px-0 overflow-scroll mt-0 mb-1 pb-3"><table class="table table-sm table-hover table-bordered table-striped mb-0 us-none billsTable"><thead><tr><th class="py-2 align-middle text-center text-small" scope="col" style="width: 40px;">№</th><th class="py-2 align-middle text-small" scope="col">Заявка</th><th class="py-2 align-middle text-small text-nowrap" scope="col">Отправитель<br />Ответственный <a role="button" class="text-primary" data-bs-toggle="modal" data-bs-target="#filterModal" id="toggleFilterModal"><i class="bi bi-funnel"></i></a></th><th class="py-2 align-middle text-small" scope="col">Поставщик</th><th class="py-2 align-middle text-small" scope="col">Сумма<br />Срочность</th><th class="py-2 align-middle text-small" scope="col">Комментарии</th><th class="py-2 align-middle text-small w-auto" scope="col"></th></tr></thead><tbody></tbody></table></div></fieldset>');
                        }

                        $('#invisible .billsTable tbody:first').append(row);
                    } else {
                        row.find('.bill-hide-btn').attr('data-hidden', 1).find('i').removeClass('bi-eye').addClass('bi-eye-slash');

                        //Вдруг таблицы нет
                        if ($('#visible .billsTable').length == 0) {
                            $('#visible .text-muted').remove();
                            $('#visible').html('<fieldset><div class="container-fluid w-100 px-0 overflow-scroll mt-0 mb-1 pb-3"><table class="table table-sm table-hover table-bordered table-striped mb-0 us-none billsTable"><thead><tr><th class="py-2 align-middle text-center text-small" scope="col" style="width: 40px;">№</th><th class="py-2 align-middle text-small" scope="col">Заявка</th><th class="py-2 align-middle text-small text-nowrap" scope="col">Отправитель<br />Ответственный <a role="button" class="text-primary" data-bs-toggle="modal" data-bs-target="#filterModal" id="toggleFilterModal"><i class="bi bi-funnel"></i></a></th><th class="py-2 align-middle text-small" scope="col">Поставщик</th><th class="py-2 align-middle text-small" scope="col">Сумма<br />Срочность</th><th class="py-2 align-middle text-small" scope="col">Комментарии</th><th class="py-2 align-middle text-small w-auto" scope="col"></th></tr></thead><tbody></tbody></table></div></fieldset>');
                        }

                        $('#visible .billsTable tbody:first').append(row);
                    }

                    //Восстанавливаем нумерацию таблицы
                    var num = 0; $('#visible .billsTable tbody:first tr').each(function() {
                        if ($(this).closest('td').length == 0) {
                            num++; 
                            $(this).find('td:first').html(num);
                        }
                    });

                    var num = 0; $('#invisible .billsTable tbody:first tr').each(function() {
                        if ($(this).closest('td').length == 0) {
                            num++; 
                            $(this).find('td:first').html(num);
                        }
                    });
                });
            });
        });
    </script>
    {% endif %}
    <script src="{{ asset('js/bills/print.js') }}" type="text/javascript"></script>

    {% if scripts is defined %}
{{ scripts|raw }}
    {% endif %}
{% endblock %}

{# Стили #}
{% block css %}
{% endblock %}