{# templates/bills/print.html.twig #}
{% extends 'default.html.twig' %}

{# Заголовки #}
{% block title %}{{ title }}{% endblock %}
{% block caption %}{{ title }}{% endblock %}

{# Панель навигации вверху #}
{% block nav %}
    <nav class="navbar navbar-expand-md navbar-light">
        <div class="container-fluid px-0 mb-1">
            <button class="navbar-toggler collapsed w-100 mt-1" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Показать меню"><i class="bi bi-list"></i></button>
            <div class="navbar-collapse collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item me-0 me-md-2">
                        <div class="btn-group mt-2 w-100 w-md-auto" role="group">
                            <a class="btn btn-sm btn-outline-primary" title="История печати счетов" href="/applications/bills/history">История печати счетов</a>
                            <button type="button" class="btn btn-sm btn-outline-primary" data-bs-toggle="modal" data-bs-target="#filterModal"><i class="bi bi-funnel"></i></button>
                        </div>
                    </li>

                    {% if 'ROLE_EXECUTOR' in roles %}
                        {# Исполнитель, может только загружать счета #}
                        <li><button type="button" onclick="location.href='/applications/bills/upload';" class="btn btn-sm btn-outline-success mt-2 me-2 w-100 w-md-auto text-nowrap"><i class="bi bi-file-earmark-arrow-up"></i> Загрузить счет</button></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{# Хлебные крошки #}
{% block breadcrumbs %}
    <nav aria-label="breadcrumb" class="mt-2 d-block">
        <ol class="breadcrumb text-xsmall mb-3">
        <li class="breadcrumb-item" aria-current="page"><a href="/"><i class="bi bi-three-dots"></i></a></li>
        {% if breadcrumbs is defined %}
            {% for breadcrumb in breadcrumbs %}
                {% if loop.last %}
                    <li class="breadcrumb-item active" aria-current="page">{{ breadcrumb.title }}</li>
                {% else %}
                    <li class="breadcrumb-item" aria-current="page"><a href="{{ breadcrumb.href }}">{{ breadcrumb.title }}</a></li>
                {% endif %}
            {% endfor %}
        {% endif %}
        </ol>
    </nav>
{% endblock %}

{# Контент #}
{% block content %}
    {% if bills|length > 0 %}
        <div class="bills-info" style="display: none;"><p class="text-muted">Нет неподписанных счетов</p></div>
        <form action="/applications/bills/download" method="POST" id="printBillsForm" target="_blank">
            <fieldset>
                <input type="hidden" name="token" value="{{ csrf_token('download-bills') }}"/>
                <div class="container-fluid w-100 px-0 overflow-scroll mt-0 mb-1 pb-3">
                    <table class="table table-sm table-hover table-bordered table-striped mb-0 us-none" id="billsTable">
                        <thead>
                            <tr>
                                <th class="py-2 align-middle text-center text-small" scope="col" style="width: 40px;">№</th>
                                <th class="py-2 align-middle text-center" scope="col" style="width: 40px;"><input type="checkbox" name="" value="" class="form-check-input bill-select-all" /></th>
                                <th class="py-2 align-middle text-small" scope="col">Заявка</th>
                                <th class="py-2 align-middle text-small" scope="col">Отправитель<br />Ответственный</th>
                                <th class="py-2 align-middle text-small" scope="col">Сумма<br />Срочность</th>
                                <th class="py-2 align-middle text-small" scope="col">Комментарии</th>
                                <th class="py-2 align-middle text-small w-auto" scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                        {% set fileId = 0 %}
                        {% for bill in bills %}
                            <tr>
                                <td class="align-middle text-center text-small">{{ loop.index }}</td>
                                <td class="align-middle text-center"><input type="checkbox" name="bills[]" value="{{ bill.id }}" class="form-check-input bill-select{% if bill.obj.getIsPrinted %} is-valid{% endif %}" /></td>
                                <td class="align-middle text-small text-nowrap">
                                    {% for application in bill.applications %}
                                        {% if loop.index > 1 %}<br />{% endif %}{{ application.getTitle }}<br /><span class="text-muted text-small"><a href="/applications/view?number={{ application.id }}" target="_blank">№{{ application.getId }} от {{ application.getDateCreate|date('d.m.Y') }}</a></span>
                                    {% endfor %}
                                    {% if bill.applications|length == 0 %}<span class="text-muted">Счет без заявки</span>{% endif %}
                                </td>
                                <td class="align-middle text-xsmall text-nowrap">
                                    {% if bill.applications|length == 0 %}
                                        {{ bill.obj.getUser.getShortUsername }}
                                    {% else %}
                                        {% for application in bill.applications %}{% if loop.index > 1 %}, {% endif %}{{ application.getAuthor.getShortUsername }}{% endfor %}
                                        <br />{{ bill.obj.getUser.getShortUsername }}
                                    {% endif %}
                                </td>
                                <td class="align-middle text-xsmall text-nowrap">
                                    {{ bill.obj.sum|number_format(2, '.', ' ') }} {{ bill.obj.currency }}
                                    {% if bill.urgency %}<br /><i class="bi bi-exclamation-triangle text-danger"></i> <span class="text-danger">Срочно</span>{% endif %}
                                </td>
                                <td class="align-middle text-xsmall fs-8 align-justify" style="max-width: 300px!important;">
                                    {% if bill.obj.getNote != '' %}
                                        {{ bill.obj.getNote }}
                                    {% else %}
                                        <span class="text-muted">Нет комментариев</span>
                                    {% endif %}
                                </td>
                                <td class="align-middle text-center text-nowrap">
                                    <a class="kv-file-download btn btn-sm btn-kv btn-default btn-outline-success" title="Распечатать на подпись" href="/applications/bills/download?id={{ bill.id }}" target="_blank"><i class="bi-printer"></i></a>
                                    <a class="kv-file-download btn btn-sm btn-kv btn-default btn-outline-secondary filePreview" data-id="thumb-attachments-init-{{ fileId }}" title="Просмотр" href="#?" target="_blank"><i class="bi-zoom-in"></i></a>
                                    <a class="kv-file-download btn btn-sm btn-kv btn-default btn-outline-secondary" title="Скачать файл" href="/upload/bills/{{ bill.obj.getPath }}" target="_blank"><i class="bi-download"></i></a>
                                    <a class="kv-file-download btn btn-sm btn-kv btn-default btn-outline-danger remove-bill-btn" title="Удалить счет" target="_blank" data-id="{{ bill.obj.id }}" data-name="{{ bill.obj.path|replace({ (bill.obj.path|split('/')|first ~ '/'): '' }) }}" data-sum="{{ bill.obj.sum|number_format(2, '.', ' ') }} {{ bill.obj.currency }}"><i class="bi-x"></i></a>
                                    {% if 'ROLE_ADMIN' in roles and bill.able_to_fix %}
                                        <a class="kv-file-download btn btn-sm btn-kv btn-default btn-outline-warning" title="Восстановить файл" href="/applications/bills/fix?id={{ bill.id }}"><i class="bi-tools"></i></a>
                                    {% endif %}
                                </td>
                            </tr>
                            {% set fileId = fileId + 1 %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </fieldset>

            <div class="clearfix"></div>

            <div id="setStatusBlock" class="mb-4" style="display: none;">
                <label class="text-small mt-1" for="setStatus">Изменить статус заявок</label>
                <div class="input-group input-group-sm">
                    <select class="form-select" id="setStatus">
                        <option value="" selected>Выберите</option>
                        {% for status in statuses %}
                            <option value="{{ status.getId }}">{{ status.getTitle }}</option>
                        {% endfor %}
                    </select>
                    <button class="btn btn-outline-secondary" type="button" id="setBtn">Сохранить</button>
                </div>
            </div>            

            <div class="clearfix"></div>
        
            <button type="button" class="btn btn-outline-primary mb-3 me-2" id="sendBtn" disabled>Напечатать отмеченные счета</button>
            <button type="button" class="btn btn-outline-secondary mb-3 me-2" onclick="location.href='/applications/';">Отмена</button>
            <div class="spinner-border text-primary d-none" role="status"><span class="visually-hidden">Обработка...</span></div>
        </form>

        {# Скрытый fileinput для инициализации предпросмотра #}
        <div class="d-none">
            <input id="attachments" type="file" name="" multiple="multiple" />
        </div>
    {% else %}
        <p class="text-muted">Нет неподписанных счетов</p>
    {% endif %}
{% endblock %}

{# Модальные окна #}
{% block modal %}
    <div class="modal fade" id="filterModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="/applications/bills/history" method="POST" id="filterForm">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Фильтр</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                    </div>
                    <div class="modal-body">
                        <div class="form-floating mb-3">
                            <input type="date" class="form-control" id="dateFromInputValue" placeholder=" " value="" name="filterDateFrom" />
                            <label for="dateFromInputValue">Дата печати (начало интервала)</label>
                        </div>
                        <div class="form-floating">
                            <input type="date" class="form-control" id="dateToInputValue" placeholder=" " value="" name="filterDateTo" />
                            <label for="dateToInputValue">Дата печати (окончание интервала)</label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                        <button type="button" class="btn btn-primary" id="filterBtn" onclick="$('#filterForm').submit();">Применить</button>
                        <div class="spinner-border text-primary d-none" role="status"><span class="visually-hidden">Обработка...</span></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{# Скрипты #}
{% block scripts %}
    <script src="{{ asset('js/fileinput.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/fileinput.ru.js') }}" type="text/javascript"></script>
    {% if bills|length > 0 %}
    <script type="text/javascript">
        var params = {
            initialPreview: [
            {% for bill in bills %}
                {% if bill.obj.getFileType == 'image' %}
                    '<img src="{{ url('index') }}upload/bills/{{ bill.obj.getPath }}" class="file-preview-image" alt="" />',
                {% else %}
                    '{{ url('index') }}upload/bills/{{ bill.obj.getPath }}',
                {% endif %}
            {% endfor %}
            ],
            initialPreviewAsData: true,
            hideThumbnailContent: true,
            initialPreviewConfig: [
            {% for bill in bills %}
                {% if bill.obj.getFileType == 'image' %}
                    {type: '{{ bill.obj.getFileType }}', caption: '{{ bill.obj.getFilename }}', downloadUrl: '{{ url('index') }}upload/bills/{{ bill.obj.getPath }}', previewAsData: false},
                {% else %}
                    {type: '{{ bill.obj.getFileType }}', caption: '{{ bill.obj.getFilename }}', downloadUrl: '{{ url('index') }}upload/bills/{{ bill.obj.getPath }}'},
                {% endif %}
            {% endfor %}
            ],
            language: 'ru'
        };
    </script>
    {% endif %}
    <script src="{{ asset('js/bills/print.js?r=1') }}" type="text/javascript"></script>

    {% if scripts is defined %}
{{ scripts|raw }}
    {% endif %}
{% endblock %}

{# Стили #}
{% block css %}
{% endblock %}