{# templates/applications/add.html.twig #}
{% extends 'default.html.twig' %}

{# Заголовки #}
{% block title %}{{ title }}{% endblock %}
{% block caption %}{{ title }}{% endblock %}

{# Контент #}
{% block content %}
<form action="/applications/add" method="POST" id="createAppForm">
    <fieldset>
        <input type="hidden" name="token" value="{{ csrf_token('add-application') }}"/>
        <input type="hidden" name="files" value=""/>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="titleApp" placeholder="Название заявки" name="titleApp" />
            <label for="titleApp">Название заявки</label>
            <div class="invalid-feedback d-none"></div>
        </div>
        <div class="form-floating mb-3">
            <textarea class="form-control" placeholder="Комментарий" id="commentApp" name="commentApp"></textarea>
            <label for="commentApp">Комментарий к заявке</label>
        </div>
        <div class="form-floating mb-3">
            <textarea class="form-control" placeholder="Дополнительный номер заявки" id="additionalNumApp" name="additionalNumApp"></textarea>
            <label for="additionalNumApp">Дополнительный номер заявки</label>
        </div>

        <h5 class="mb-3 mt-4">Содержимое заявки</h5>
        <div class="container-fluid w-100 px-0 overflow-scroll mt-0 mb-1 pb-3">
            <table class="table table-sm table-bordered table-striped mb-0 us-none" style="min-width: 900px;" id="materialsTable">
                <thead>
                    <tr>
                        <th class="py-2 align-middle text-center text-xsmall" scope="col" style="width: 50px;">№</th>
                        <th class="py-2 align-middle text-xsmall" scope="col">Наименование</th>
                        <th class="py-2 align-middle text-nowrap text-xsmall" scope="col" style="width: 120px;">Ед.изм.</th>
                        <th class="py-2 align-middle text-xsmall" scope="col" style="width: 100px;">Кол-во</th>
                        <th class="py-2 align-middle text-nowrap text-xsmall" scope="col">Вид техники</th>
                        <th class="py-2 align-middle text-nowrap text-xsmall" scope="col">Уточнение</th>
                        <th class="text-center align-middle" style="width: 120px;">
                            <div class="form-switch mb-1" style="line-height: 1.3!important;">
                                <input class="form-check-input" type="checkbox" id="urgent0">
                                <label class="form-check-label text-xsmall text-black-50 ms-1 us-none fw-normal" for="urgent0">Срочно</label>
                            </div>
                        </th>
                        <th class="text-center align-middle" style="width: 50px;"></th>
                    </tr>
                </thead>
                <tbody>
                {% if data is defined and data|length > 0 %}
                    {# Загружаем строки из шаблона #}
                    {% set i = 0 %}
                    {% for row in data %}
                        {% set i = i + 1 %}
                            <tr>
                                <td class="align-middle text-center text-xsmall">{{ i }}</td>
                                <td class="align-middle"><input class="form-control form-control-sm material-autocomplete{% if not row.titleValid %} is-invalid{% endif %}" type="text" value="{{ row.title }}" name="titleContentApp[]" /></td>
                                <td class="align-middle text-center">
                                    <select class="form-select form-select-sm{% if not row.unitValid %} is-invalid{% endif %}" name="unitContentApp[]">
                                        {% for unit in units %}
                                            {% if unit.getId == row.unit.getId %}
                                                <option value="{{ unit.getId }}" selected="selected">{{ unit.getTitle }}</option>
                                            {% else %}
                                                <option value="{{ unit.getId }}">{{ unit.getTitle }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </td>
                                <td class="align-middle"><input class="form-control form-control-sm{% if not row.countValid %} is-invalid{% endif %}" type="number" value="{{ row.count }}" name="amountContentApp[]" /></td>
                                <td class="align-middle" style="position: relative;"><input class="form-control form-control-sm toe-autocomplete" type="text" name="typeOfEquipmentContentApp[]" value="{{ row.equipment }}" autocomplete="off" /></td>
                                <td class="align-middle"><input class="form-control form-control-sm" type="text" name="commentContentApp[]" value="{{ row.comment }}" autocomplete="off" /></td>
                                <td class="text-center align-middle">
                                    <div class="form-switch mb-1" style="line-height: 1.3!important;">
                                        <input class="form-check-input shift-control urgent" type="checkbox" id="urgent{{ i }}" name="urgentContentApp[]" value="{{ i }}"{% if row.hurry %} checked{% endif %} />
                                        <label class="form-check-label text-xsmall text-black-50 ms-1 us-none" for="urgent{{ i }}">Срочно</label>
                                    </div>
                                </td>
                                <td class="text-center align-middle"><i class="bi bi-trash text-danger fs-6 delete-row"></i></td>
                            </tr>
                    {% endfor %}
                    {# Дополняем до 10 строк #}
                    {% if i < 10 %}
                        {% set j = i + 1 %}
                        {% for i in range(j, 10) %}
                            <tr>
                                <td class="align-middle text-center text-xsmall">{{ i }}</td>
                                <td class="align-middle"><input class="form-control form-control-sm material-autocomplete" type="text" value="" name="titleContentApp[]" /></td>
                                <td class="align-middle text-center">
                                    <select class="form-select form-select-sm" name="unitContentApp[]">
                                    {% for unit in units %}
                                        {% if unit.getTitle == 'шт' %}
                                            <option value="{{ unit.getId }}" selected="selected">{{ unit.getTitle }}</option>
                                        {% else %}
                                            <option value="{{ unit.getId }}">{{ unit.getTitle }}</option>
                                        {% endif %}
                                    {% endfor %}
                                    </select>
                                </td>
                                <td class="align-middle"><input class="form-control form-control-sm" type="number" value="" name="amountContentApp[]" /></td>
                                <td class="align-middle" style="position: relative;"><input class="form-control form-control-sm toe-autocomplete" type="text" name="typeOfEquipmentContentApp[]" value="" autocomplete="off" /></td>
                                <td class="align-middle"><input class="form-control form-control-sm" type="text" name="commentContentApp[]" value="" autocomplete="off" /></td>
                                <td class="text-center align-middle">
                                    <div class="form-switch mb-1" style="line-height: 1.3!important;">
                                        <input class="form-check-input shift-control urgent" type="checkbox" id="urgent{{ i }}" name="urgentContentApp[]" value="{{ i }}" />
                                        <label class="form-check-label text-xsmall text-black-50 ms-1 us-none" for="urgent{{ i }}">Срочно</label>
                                    </div>
                                </td>
                                <td class="text-center align-middle"><i class="bi bi-trash text-danger fs-6 delete-row"></i></td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                {% else %}
                    {% set k = 10 %}
                    {% for i in range(1, k) %}
                        <tr>
                            <td class="align-middle text-center text-xsmall">{{ i }}</td>
                            <td class="align-middle"><input class="form-control form-control-sm material-autocomplete" type="text" value="" name="titleContentApp[]" /></td>
                            <td class="align-middle text-center">
                                <select class="form-select form-select-sm" name="unitContentApp[]">
                                {% for unit in units %}
                                    {% if unit.getTitle == 'шт' %}
                                        <option value="{{ unit.getId }}" selected="selected">{{ unit.getTitle }}</option>
                                    {% else %}
                                        <option value="{{ unit.getId }}">{{ unit.getTitle }}</option>
                                    {% endif %}
                                {% endfor %}
                                </select>
                            </td>
                            <td class="align-middle"><input class="form-control form-control-sm" type="number" value="" name="amountContentApp[]" /></td>
                            <td class="align-middle" style="position: relative;"><input class="form-control form-control-sm toe-autocomplete" type="text" name="typeOfEquipmentContentApp[]" value="" autocomplete="off" /></td>
                            <td class="align-middle"><input class="form-control form-control-sm" type="text" name="commentContentApp[]" value="" autocomplete="off" /></td>
                            <td class="text-center align-middle">
                                <div class="form-switch mb-1" style="line-height: 1.3!important;">
                                    <input class="form-check-input shift-control urgent" type="checkbox" id="urgent{{ i }}" name="urgentContentApp[]" value="{{ i }}" />
                                    <label class="form-check-label text-xsmall text-black-50 ms-1 us-none" for="urgent{{ i }}">Срочно</label>
                                </div>
                            </td>
                            <td class="text-center align-middle"><i class="bi bi-trash text-danger fs-6 delete-row"></i></td>
                        </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div>
        <button type="button" class="btn btn-outline-secondary btn-sm mb-4 me-2" id="addRowBtn"><i class="bi bi-plus-lg"></i> Добавить строку</button>
        <button type="button" class="btn btn-outline-secondary btn-sm mb-4" data-bs-toggle="modal" data-bs-target="#templateModal">Загрузить из шаблона</button>

        <h5 class="mb-3">Дополнительные файлы</h5>

        <div class="mb-4">
            <div class="file-loading">
                <input id="attach" type="file" name="filesApp[]" multiple="multiple" />
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="card mb-3">
            <div class="card-header">
                Прочие параметры
            </div>
            <div class="card-body">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="yearApplication" name="yearApplication" value="1" />
                    <label class="form-check-label us-none" for="yearApplication">Годовая заявка</label>
                </div>
            </div>
        </div>

        {% if users is defined %}
            <div class="form-floating mb-3">
                <select class="form-select" id="userSelect" name="user">
                {% for user in users %}
                    {% if user.getId == app.user.getId %}
                        <option value="{{ user.getId }}" selected="selected">{{ user.getUsername }}</option>
                    {% else %}
                        <option value="{{ user.getId }}">{{ user.getUsername }}</option>
                    {% endif %}
                {% endfor %}
                </select>
                <label for="userSelect">Пользователь, от имени которого добавляется заявка</label>
            </div>
        {% endif %}

        {% if users is defined %}
            <div class="form-floating mb-3">
                <select class="form-select" id="responsibleSelect" name="responsible">
                {% for user in users %}
                    {% if user.getId == app.user.getId %}
                        <option value="{{ user.getId }}" selected="selected">{{ user.getUsername }}</option>
                    {% else %}
                        <option value="{{ user.getId }}">{{ user.getUsername }}</option>
                    {% endif %}
                {% endfor %}
                </select>
                <label for="responsibleSelect">Пользователь, ответственный за согласование заявки</label>
            </div>
        {% endif %}
    </fieldset>

    <div class="clearfix"></div>

    <button type="button" class="btn btn-outline-primary mb-5 me-2" disabled id="sendBtn">Создать</button>
    <button type="button" class="btn btn-outline-secondary mb-5 me-2" onclick="location.href='/applications/';">Отмена</button>
    <div class="spinner-border text-primary d-none" role="status" style="margin-bottom: 0.8rem!important;"><span class="visually-hidden">Обработка...</span></div>
</form>
{% endblock %}

{# Модальные окна #}
{% block modal %}
    {# Загрузка позиций из шаблона #}
    <div class="modal fade" id="templateModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <form action="/applications/add-from-template" method="POST" id="templateForm" enctype="multipart/form-data">
                    <input type="hidden" name="token" value="{{ csrf_token('upload-template') }}"/>
                    <div class="modal-header">
                        <h5 class="modal-title">Загрузить заявку из шиблона</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                    </div>
                    <div class="modal-body">
                        <input type="file" class="form-control" id="templateUpload" name="template" />
                        <button type="button" class="btn btn-outline-secondary btn-sm mt-3" id="download-template" onclick="location.href='/upload/Добавление заявки.xlsx';"><i class="bi bi-download"></i> Скачать шаблон</button>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                    <button type="button" class="btn btn-primary" disabled id="uploadBtn">Загрузить</button>
                    <div class="spinner-border text-primary d-none" role="status"><span class="visually-hidden">Обработка...</span></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{# Скрипты #}
{% block scripts %}
    <script src="{{ asset('js/jquery.autocomplete.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/fileinput.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/fileinput.ru.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
        var params = {
            browseClass: 'btn btn-outline-secondary',
            language: 'ru',
            uploadUrl: '/applications/upload-file',
            maxFileSize: 10240,
            fileActionSettings: {
                showRemove: true,
                showUpload: false,
                showZoom: true,
                showDrag: false,
            }
        };
    </script>
    <script src="{{ asset('js/applications/applications.js') }}" type="text/javascript"></script>
{% endblock %}

{# Стили #}
{% block css %}
    <link href="{{ asset('css/fileinput.css') }}" rel="stylesheet">
{% endblock %}