{# templates/applications/index.html.twig #}
{% extends 'default.html.twig' %}

{# Заголовки #}
{% block title %}{{ title }}!{% endblock %}
{% block caption %}{{ title }}, {{ app.user.getName }}!{% endblock %}

{# Получаем роли пользователя #}
{% set roles = app.user.getroles(TRUE) %}

{# Панель навигации вверху #}
{% block nav %}
  <nav class="navbar navbar-expand-md navbar-light">
    <div class="container-fluid px-0 mb-1">
      <button class="navbar-toggler collapsed w-100 mt-1" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Показать меню"><i class="bi bi-list"></i></button>
      <div class="navbar-collapse collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item me-0 me-md-2">
            <div class="btn-group mt-2 w-100 w-md-auto" role="group">
              <div class="btn-group w-100" role="group">
                <button id="applicationsBtnGroup" type="button" class="btn btn-sm btn-outline-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Заявки</button>
                <ul class="dropdown-menu dropdown-menu-start" aria-labelledby="applicationsBtnGroup" style="position: absolute!important;">
                {% if 'ROLE_CREATOR' in roles %}
                  <li><a class="dropdown-item" href="/applications/add">Добавить заявку</a></li>
                {% endif %}
                  <li><a class="dropdown-item" href="/applications">Активные заявки</a></li>
                  <li><a class="dropdown-item" href="/applications/done">Выполненные заявки</a></li>
                </ul>
              </div>
            </div>
          </li>
          {% if 'ROLE_SUPERVISOR' in roles and 'ROLE_EXECUTOR' in roles %}
          {# И ответственный и исполнитель #}
          {% set label = '' %}
          {% if printcount is defined and printcount > 0 %}{% set label = '<span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">' ~ printcount ~ '<span class="visually-hidden">неподписанных счетов</span></span>' %}{% endif %}
          <li class="nav-item me-0 me-md-2">
            <div class="btn-group w-100 w-md-auto" role="group">
              <button type="button" onclick="location.href='/applications/bills/upload';" class="btn btn-sm btn-outline-success mt-2 w-100 w-md-auto text-nowrap"><i class="bi bi-file-earmark-arrow-up"></i> Загрузить счет</button>
              <button type="button" onclick="location.href='/applications/bills/print';" class="btn btn-sm btn-outline-success mt-2 w-100 w-md-auto text-nowrap"><i class="bi bi-printer"></i>{{ label|raw }}</button>
            </div>
          </li>
          <li class="nav-item me-0 me-md-2">
            <button type="button" onclick="location.href='/applications/bills/in-work';" class="btn btn-sm btn-outline-secondary mt-2 w-100 w-md-auto text-nowrap"><i class="bi bi-ui-checks"></i> Счета в работе</button>
          </li>
          {% else %}
            {% if 'ROLE_SUPERVISOR' in roles %}
              {# Ответственный, может только печатать счета #}
              {% set label = '' %}
              {% if printcount is defined and printcount > 0 %}{% set label = '<span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">' ~ printcount ~ '<span class="visually-hidden">неподписанных счетов</span></span>' %}{% endif %}
              <li class="nav-item me-0 me-md-2">
                <button type="button" onclick="location.href='#';" class="btn btn-sm btn-outline-secondary mt-2 w-100 w-md-auto text-nowrap"><i class="bi bi-printer"></i> Распечатать счета{{ label|raw }}</button>
              </li>
              <li class="nav-item me-0 me-md-2">
                <button type="button" onclick="location.href='/applications/bills/in-work';" class="btn btn-sm btn-outline-secondary mt-2 w-100 w-md-auto text-nowrap"><i class="bi bi-ui-checks"></i> Счета в работе</button>
              </li>
            {% endif %}
            {% if 'ROLE_EXECUTOR' in roles %}
              {# Исполнитель, может только загружать счета #}
              <li class="nav-item me-0 me-md-2">
                <button type="button" onclick="location.href='/applications/bills/upload';" class="btn btn-sm btn-outline-success mt-2 w-100 w-md-auto text-nowrap"><i class="bi bi-file-earmark-arrow-up"></i> Загрузить счет</button>
              </li>
              <li class="nav-item me-0 me-md-2">
                <button type="button" onclick="location.href='/applications/bills/in-work';" class="btn btn-sm btn-outline-secondary mt-2 w-100 w-md-auto text-nowrap"><i class="bi bi-ui-checks"></i> Счета в работе</button>
              </li>
            {% endif %}
          {% endif %}
          {% if 'ROLE_LOGISTICS' in roles %}
            <li class="nav-item me-0 me-md-2">
              <button type="button" onclick="location.href='/applications/logistics';" class="btn btn-sm btn-outline-primary mt-2 w-100 w-md-auto text-nowrap"><i class="bi bi-box-seam"></i> Грузы</button>
            </li>
          {% endif %}
        </ul>
        <form class="d-flex d-block d-md-none w-100" method="GET" action="/applications/search">
          <div class="input-group input-group-sm mt-2">
            <input type="text" class="form-control" placeholder="Поиск по содержимому" aria-label="Поиск по содержимому" name="q" />
            <button class="btn btn-outline-secondary button-search" type="button" onClick="$(this).closest('form').submit();"><i class="bi bi-search"></i></button>
          </div>
        </form>
        <form class="d-flex d-none d-md-block w-25 ms-2" method="GET" action="/applications/search">
          <div class="input-group input-group-sm mt-2">
            <input type="text" class="form-control" placeholder="Поиск по содержимому" aria-label="Поиск по содержимому" name="q" />
            <button class="btn btn-outline-secondary button-search" type="button" onClick="$(this).closest('form').submit();"><i class="bi bi-search"></i></button>
          </div>
        </form>
      </div>
    </div>
  </nav>
{% endblock %}

{# Хлебные крошки #}
{% block breadcrumbs %}
{% endblock %}

{# Контент #}
{% block content %}
  {# Выводим уведомление #}
  {% if 'ROLE_SUPERVISOR' in roles and 'ROLE_EXECUTOR' not in roles and 'ROLE_CREATOR' not in roles %}
    {# ROLE_SUPERVISOR #}
    {% if printcount == 0 and supervisor|length == 0 %}<p>Все хорошо.</p>{% endif %}
    {# {% if printcount == 0 and supervisor|length == 0 %}<p>Все хорошо, счета распечатаны, ответственные назначены.</p>{% endif %} #}
  {% endif %}
  {% if 'ROLE_EXECUTOR' in roles and 'ROLE_SUPERVISOR' not in roles and 'ROLE_CREATOR' not in roles %}
    {# ROLE_EXECUTOR #}
    {% if expired|length == 0 and inwork|length == 0 %}<p>Все хорошо.</p>{% endif %}
    {# {% if expired|length == 0 and inwork|length == 0 %}<p>Все хорошо, заявки в работе у поставщиков.</p>{% endif %} #}
  {% endif %}
  {% if 'ROLE_CREATOR' in roles and 'ROLE_SUPERVISOR' not in roles and 'ROLE_EXECUTOR' not in roles %}
    {# ROLE_CREATOR #}
    {% if notordered|length == 0 %}<p>Все хорошо.</p>{% endif %}
    {# {% if notordered|length == 0 %}<p>Все хорошо, заявки в работе.</p>{% endif %} #}
  {% endif %}
  {% if 'ROLE_SUPERVISOR' in roles and 'ROLE_EXECUTOR' in roles and 'ROLE_CREATOR' not in roles %}
    {# ROLE_SUPERVISOR, ROLE_EXECUTOR #}
    {% if printcount == 0 and supervisor|length == 0 and expired|length == 0 and inwork|length == 0 %}<p>Все хорошо.</p>{% endif %}
    {# {% if printcount == 0 and supervisor|length == 0 and expired|length == 0 and inwork|length == 0 %}<p>Все хорошо, счета распечатаны, ответственные назначены, заявки в работе у поставщиков.</p>{% endif %} #}
  {% endif %}
  {% if 'ROLE_SUPERVISOR' in roles and 'ROLE_EXECUTOR' not in roles and 'ROLE_CREATOR' in roles %}
    {# ROLE_SUPERVISOR, ROLE_CREATOR #}
    {% if printcount == 0 and supervisor|length == 0 and notordered|length == 0 %}<p>Все хорошо.</p>{% endif %}
    {# {% if printcount == 0 and supervisor|length == 0 and notordered|length == 0 %}<p>Все хорошо, счета распечатаны, ответственные назначены, заявки в работе.</p>{% endif %} #}
  {% endif %}
  {% if 'ROLE_SUPERVISOR' not in roles and 'ROLE_EXECUTOR' in roles and 'ROLE_CREATOR' in roles %}
    {# ROLE_EXECUTOR, ROLE_CREATOR #}
    {% if expired|length == 0 and inwork|length == 0 and notordered|length == 0 %}<p>Все хорошо.</p>{% endif %}
    {# {% if expired|length == 0 and inwork|length == 0 and notordered|length == 0 %}<p>Все хорошо, заявки в работе.</p>{% endif %} #}
  {% endif %}
  {% if 'ROLE_SUPERVISOR' in roles and 'ROLE_EXECUTOR' in roles and 'ROLE_CREATOR' in roles %}
    {# ROLE_SUPERVISOR, ROLE_EXECUTOR, ROLE_CREATOR #}
    {% if printcount == 0 and supervisor|length == 0 and expired|length == 0 and inwork|length == 0 and notordered|length == 0 %}<p>Все хорошо.</p>{% endif %}
    {# {% if printcount == 0 and supervisor|length == 0 and expired|length == 0 and inwork|length == 0 and notordered|length == 0 %}<p>Все хорошо, счета распечатаны, ответственные назначены, заявки в работе.</p>{% endif %} #}
  {% endif %}

  {# Исполнитель #}
  {% if 'ROLE_EXECUTOR' in roles %}
    {# Необработанные заявки #}
    {% if inwork|length > 0 %}<p>Заявки, по которым необходимо выставить счета:</p>{% endif %}
    <div class="mb-3 form-check form-switch">
      <input class="form-check-input" type="checkbox" id="only_hurry" />
      <label class="form-check-label" for="only_hurry">Только срочные заявки</label>
    </div>
    <form action="/applications/request" method="POST" id="makeRequestForm" target="_blank">
      <input type="hidden" name="typeOfRequest" value="" />
      <div class="accordion mb-3">
      {% for row in inwork %}
        {% set urgency = false %}
        {% for arr in row.materials %}{% if arr.material.getUrgency %}{% set urgency = true %}{% endif %}{% endfor %}
        <div class="accordion-item{% if loop.last %} mb-3{% endif %}{% if urgency %} accordion-hurry{% endif %}">
            <h2 class="accordion-header" id="heading{{ row.application.getId }}">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ row.application.getId }}" aria-expanded="false" aria-controls="collapse{{ row.application.getId }}">
                    <div class="d-flex w-100">
                        <div>
                            {{ row.application.getTitle }}{% if urgency %}<i class="bi bi-exclamation-triangle text-danger ms-2" data-bs-toggle="tooltip" data-bs-placement="right" title="В заявке есть срочные позиции"></i>{% endif %}
                            <br /><span class="text-muted text-small">№{{ row.application.getId }}{% if row.application.getNumber != '' %} <span class="text-muted text-small">({{ row.application.getNumber }})</span>{% endif %} от {{ row.application.getDateCreate|date('d.m.Y') }}</span>
                        </div>
                        <div class="d-none d-sm-block ms-auto mt-2 text-end">
                            <span class="text-muted me-3 text-small">Отправитель: {{ row.application.getAuthor.getShortUsername }}</span><br />
                        </div>
                    </div>
                </button>
            </h2>
            <div id="collapse{{ row.application.getId }}" data-id="{{ row.application.getId }}" class="accordion-collapse collapse" aria-labelledby="heading{{ row.application.getId }}">
                <div class="accordion-body">
                  <div class="container-fluid w-100 overflow-scroll px-0">
                    <a class="btn btn-sm btn-outline-primary mb-3 text-nowrap" href="/applications/view?number={{ row.application.getId }}"><i class="bi bi-bookmark"></i> Перейти к заявке</a>
                    <table class="table table-sm mb-0 table-hover table-striped table-bordered" style="min-width: 900px;">
                      <thead>
                          <tr>
                            <th class="py-2 align-middle text-center text-small" scope="col" style="width: 50px;">№</th>
                            <th class="py-2 align-middle text-center" scope="col" style="width: 50px;"><input type="checkbox" name="" value="" class="form-check-input material-select-all" /></th>
                            <th class="py-2 align-middle text-nowrap text-center text-small" scope="col" style="width: 140px;">Кол-во в заявке</th>
                            <th class="py-2 align-middle text-small" scope="col">Наименование</th>
                            <th class="py-2 align-middle text-nowrap text-small" scope="col">Вид техники</th>
                          </tr>
                      </thead>
                      <tbody>
                        {% for arr in row.materials %}
                          <tr class="material-row{% if arr.material.getUrgency %} material-hurry{% endif %}">
                            <td class="align-middle text-center text-xsmall">{{ arr.material.getNum }}</td>
                            <td class="py-2 align-middle text-center" scope="col">
                              <input type="checkbox" name="material[]" value="{{ arr.material.getId }}" class="form-check-input material-select{% if arr.material.getRequested %} is-valid{% endif %}" />
                              <input type="hidden" class="amounts" name="amount[]" value="{{ arr.count - arr.done }}" />
                              <input type="hidden" class="applications" name="application[]" value="{{ row.application.getId }}" />
                            </td>
                            <td class="align-middle text-center text-xsmall">{{ arr.done }} {{ arr.material.getUnit.getTitle }} / {{ arr.count }} {{ arr.material.getUnit.getTitle }}</td>
                            <td class="align-middle text-xsmall">{{ arr.material.getTitle }}{% if arr.material.getUrgency %} <i class="bi bi-exclamation-triangle text-danger" data-bs-toggle="tooltip" data-bs-placement="right" title="Срочная позиция"></i> <span class="text-danger">Срочно</span>{% endif %}</td>
                            <td class="align-middle text-xsmall">{% if arr.material.getTypeOfEquipment != null %}{{ arr.material.getTypeOfEquipment.getTitle() }}{% endif %}</td>
                          </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
            </div>
        </div>
      {% endfor %}
      </div>
      <div id="makeRequest" style="display: none;" class="mb-3">
        <button class="btn btn-sm btn-outline-secondary mb-3 me-2" type="button" id="requestBtn"><i class="bi bi-table"></i> Сформировать запрос</button>
        <button class="btn btn-sm btn-outline-secondary mb-3 me-2" type="button" id="requestPdfBtn"><i class="bi bi-file-pdf"></i> Сформировать запрос (PDF)</button>
        <button class="btn btn-sm btn-outline-secondary mb-3" type="button" id="requestExcelBtn"><i class="bi bi-file-pdf"></i> Сформировать запрос (Excel)</button>
      </div>
    </form>

    {# Просроченные счета #}
    {% if expired|length > 0 %}
      <p>Просроченные счета:</p>
      <div class="container-fluid w-100 px-0 overflow-scroll mt-0 mb-1 pb-3">
        <table class="table table-sm table-hover table-bordered table-striped mb-0 us-none" id="billsTable">
            <thead>
                <tr>
                    <th class="py-2 align-middle text-center text-small" scope="col" style="width: 40px;">№</th>
                    <th class="py-2 align-middle text-small" scope="col">Заявка</th>
                    <th class="py-2 align-middle text-small" scope="col">Отправитель<br />Ответственный</th>
                    <th class="py-2 align-middle text-small" scope="col">Сумма<br />Срочность</th>
                    <th class="py-2 align-middle text-small" scope="col">Комментарии</th>
                    <th class="py-2 align-middle text-small" scope="col">Дата поставки</th>
                    <th class="py-2 align-middle text-small w-auto" scope="col"></th>
                </tr>
            </thead>
            <tbody>
            {% set fileId = 0 %}
            {% for bill in expired %}
                <tr>
                    <td class="align-middle text-center text-small">{{ loop.index }}</td>
                    <td class="align-middle text-small text-nowrap">
                      {% if bill.applications|length > 0 %}
                        {% for application in bill.applications %}
                            {% if loop.index > 1 %}<br />{% endif %}<a href="/applications/bills/in-work/view?id={{ bill.obj.getId }}">{{ application.getTitle }}</a> <span class="text-muted text-small">№{{ application.getId }} от {{ application.getDateCreate|date('d.m.Y') }}</span>
                        {% endfor %}
                      {% else %}
                        <a href="/applications/bills/in-work/view?id={{ bill.obj.getId }}" class="text-warning">Счет без заявки</a>
                      {% endif %}
                    </td>
                    <td class="align-middle text-xsmall text-nowrap">
                        {% if bill.applications|length > 0 %}
                          {% for application in bill.applications %}{% if loop.index > 1 %}, {% endif %}{{ application.getAuthor.getShortUsername }}{% endfor %}<br />
                        {% endif %}
                        {{ bill.obj.getUser.getShortUsername }}
                    </td>
                    <td class="align-middle text-xsmall text-nowrap">
                        {{ bill.obj.sum|number_format(2, '.', ' ') }} {{ bill.obj.currency }}
                        {% if bill.urgency %}<br /><i class="bi bi-exclamation-triangle text-danger"></i> <span class="text-danger">Срочно</span>{% endif %}
                    </td>
                    <td class="align-middle text-xsmall fs-8 align-justify" style="max-width: 300px!important;">
                        {% if bill.obj.getNote != '' %}
                            {{ bill.obj.getNote }}
                        {% else %}
                            <span class="text-muted">Нет комментариев</span>
                        {% endif %}
                    </td>
                    <td class="align-middle text-xsmall fs-8 align-justify text-danger">{{ bill.obj.getDateClose|date('d.m.Y') }}</td>
                    <td class="align-middle text-center text-nowrap">
                        <a class="kv-file-download btn btn-sm btn-kv btn-default btn-outline-success" title="Распечатать на подпись" href="/applications/bills/download?id={{ bill.id }}" target="_blank"><i class="bi-printer"></i></a>
                        <a class="kv-file-download btn btn-sm btn-kv btn-default btn-outline-secondary filePreview" data-id="thumb-attachments-init-{{ fileId }}" title="Просмотр" href="#?" target="_blank"><i class="bi-zoom-in"></i></a>
                        <a class="kv-file-download btn btn-sm btn-kv btn-default btn-outline-secondary" title="Скачать файл" href="/upload/bills/{{ bill.obj.getPath }}" target="_blank"><i class="bi-download"></i></a>
                    </td>
                </tr>
                {% set fileId = fileId + 1 %}
            {% endfor %}
            </tbody>
        </table>
      </div>

      {# Скрытый fileinput для инициализации предпросмотра #}
      <div class="d-none">
        <input id="attachments" type="file" name="" multiple="multiple" />
      </div>
    {% endif %}

    {# Активные заявки #}
    {# <p>Активные заявки:</p>
    {% if active|length > 0 %}
      <div class="table-responsive">
        <table class="table table-hover table-bordered table-striped text-xsmall mb-2">
          <thead>
            <tr>
              <th class="align-middle">№</th>
              <th class="align-middle d-none d-sm-table-cell">Дата поступления</th>
              <th class="align-middle text-nowrap">Название</th>
              <th class="align-middle d-table-cell d-sm-none">Отправитель<p class="row-separator">Ответственные</p></th>
              <th class="align-middle d-none d-sm-table-cell">Отправитель</th>
              <th class="align-middle d-none d-sm-table-cell">Статус</th>
            </tr>
          </thead>
          <tbody>
            {% for application in active %}
            <tr{% if application.status_id == 1 %} class="table-primary"{% endif %}>
              <td>
                {{ application.0.getId }}
                {% if application.0.getNumber != '' %}
                  <p class="text-muted mb-0 text-xsmall">{{ application.0.getNumber }}</p>
                {% endif %}
              </td>
              <td class="d-none d-sm-table-cell">
              {{ application.0.getDateCreate|date('d.m.Y') }}
              {% set dateClass = 'text-muted' %}
              {% if application.0.getDateClose < date('now') %}{% set dateClass = 'text-danger' %}{% endif %}
              {% if application.0.getDateClose != null %} <span class="text-muted"><i class="bi bi-arrow-right"></i> <span class="{{ dateClass }}">{{ application.0.getDateClose|date('d.m.Y') }}</span></span>{% endif %}
              </td>
              <td>
                <a href="/applications/view?number={{ application.0.getId }}">{{ application.0.getTitle }}</a>
                {% if application.urgency %}
                  <i class="bi bi-exclamation-triangle text-danger" data-bs-toggle="tooltip" data-bs-placement="right" title="В заявке есть срочные позиции"></i>
                {% endif %}
                <p class="text-muted mb-0 text-xsmall">{% if application.0.getIsYear %}<span class="text-warning">Годовая заявка</span>{% endif %} Позиций: {{ application.materials_count }}{% if application.materials_deleted > 0 %}-{{ application.materials_deleted }}{% endif %}{% if application.materials_impossible > 0 %} <span class="text-danger">(Невозможно поставить: {{ application.materials_impossible }})</span>{% endif %}</p>
                <p class="text-muted d-block d-sm-none mb-0 mt-1">{{ application.0.getDateCreate|date('d.m.Y') }}</p>
                <p class="text-muted d-block d-sm-none mb-0 mt-1"><span class="{{ application.status_class }}">{{ application.status_title }}</span></p>
              </td>
              <td class="text-nowrap d-table-cell d-sm-none">{{ application.0.getAuthor.getShortUsername }}<p class="row-separator"><span class="text-black-50">Не назначены</span></p></td>
              <td class="text-nowrap d-none d-sm-table-cell">{{ application.0.getAuthor.getShortUsername }}</td>
              <td class="d-none d-sm-table-cell text-nowrap"><span class="{{ application.status_class }}">{{ application.status_title }}</span></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    {% endif %} #}
  {% endif %}

  {# Ответственный #}
  {% if 'ROLE_SUPERVISOR' in roles %}
    {% if printcount > 0 %}
      <p>Обратите внимание, есть <a href="/applications/bills/print" class="text-danger">не распечатанные счета</a>.</p>
    {% endif %}
    {% if supervisor|length > 0 %}
      <div class="mb-3">
        <p>Заявки, требующие назначения ответственных:</p>
        {% for row in supervisor %}
          <div class="card mt-2">
            <div class="card-body">
              <blockquote class="blockquote mb-0 text-small">
                <p class="mb-0">{{ row.application.getTitle }} <a href="/applications/view?number={{ row.application.getId }}">#{{ row.application.getId }}</a>{% if row.application.getNumber != '' %} <span class="text-muted text-small">({{ row.application.getNumber }})</span>{% endif %}{% if row.applicationUrgency %} <i class="bi bi-exclamation-triangle text-danger" data-bs-toggle="tooltip" data-bs-placement="right" title="" data-bs-original-title="В заявке есть срочные позиции" aria-label="В заявке есть срочные позиции"></i>{% endif %} <span class="text-muted text-xsmall">от {{ row.application.getDateCreate|date('d.m.Y') }}</span></p>
                <p class="mt-1 text-small text-muted">Отправитель: {{ row.application.getAuthor.getUsername }}</p>
              </blockquote>
            </div>
          </div>
        {% endfor %}
      </div>
    {% endif %}
  {% endif %}

  {# Заказчик #}
  {% if 'ROLE_CREATOR' in roles %}
    {# Необработанные заявки #}
    {% if notordered|length > 0 %}
      <p>Ваши заявки, по которым еще выставлены не все счета:</p>
      <div class="accordion">
      {% for row in notordered %}
        <div class="accordion-item{% if loop.last %} mb-3{% endif %}">
            <h2 class="accordion-header" id="heading{{ row.application.getId }}">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_{{ row.application.getId }}" aria-expanded="false" aria-controls="collapse_{{ row.application.getId }}">
                    <div class="d-flex w-100">
                        <div>
                            {{ row.application.getTitle }}{% if row.urgency %}<i class="bi bi-exclamation-triangle text-danger ms-2" data-bs-toggle="tooltip" data-bs-placement="right" title="В заявке есть срочные позиции"></i>{% endif %}
                            <br /><span class="text-muted text-small">№{{ row.application.getId }} от {{ row.application.getDateCreate|date('d.m.Y') }}</span>
                        </div>
                        <div class="d-none d-sm-block ms-auto mt-2 text-end">
                            <span class="text-muted me-3 text-small">Отправитель: {{ row.application.getAuthor.getShortUsername }}</span><br />
                        </div>
                    </div>
                </button>
            </h2>
            <div id="collapse_{{ row.application.getId }}" data-id="{{ row.application.getId }}" class="accordion-collapse collapse" aria-labelledby="heading_{{ row.application.getId }}">
                <div class="accordion-body">
                  <div class="container-fluid w-100 overflow-scroll px-0">
                    <button type="button" onclick="location.href='/applications/view?number={{ row.application.getId }}';" class="btn btn-sm btn-outline-primary mb-3 text-nowrap"><i class="bi bi-bookmark"></i> Перейти к заявке</button>
                    <table class="table table-sm mb-0 table-hover table-striped table-bordered" style="min-width: 900px;">
                      <thead>
                          <tr>
                            <th class="py-2 align-middle text-center text-small" scope="col" style="width: 50px;">№</th>
                            <th class="py-2 align-middle text-nowrap text-center text-small" scope="col" style="width: 140px;">Кол-во в заявке</th>
                            <th class="py-2 align-middle text-small" scope="col">Наименование</th>
                            <th class="py-2 align-middle text-nowrap text-small" scope="col">Вид техники</th>
                          </tr>
                      </thead>
                      <tbody>
                        {% for arr in row.materials %}
                          <tr>
                            <td class="align-middle text-center text-xsmall">{{ arr.material.getNum }}</td>
                            <td class="align-middle text-center text-xsmall">{{ arr.done }} {{ arr.material.getUnit.getTitle }} / {{ arr.count }} {{ arr.material.getUnit.getTitle }}</td>
                            <td class="align-middle text-xsmall">{{ arr.material.getTitle }}{% if arr.material.getUrgency %} <i class="bi bi-exclamation-triangle text-danger" data-bs-toggle="tooltip" data-bs-placement="right" title="Срочная позиция"></i> <span class="text-danger">Срочно</span>{% endif %}</td>
                            <td class="align-middle text-xsmall">{% if arr.material.getTypeOfEquipment != null %}{{ arr.material.getTypeOfEquipment.getTitle() }}{% endif %}</td>
                          </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
            </div>
        </div>
      {% endfor %}
      </div>
    {% endif %}
  {% endif %}
{% endblock %}

{# Скрипты #}
{% block scripts %}
  <script src="{{ asset('js/fileinput.min.js') }}" type="text/javascript"></script>
  <script src="{{ asset('js/fileinput.ru.js') }}" type="text/javascript"></script>
  {% if 'ROLE_EXECUTOR' in roles %}
    <script type="text/javascript">
        var params = {
            initialPreview: [
            {% for bill in expired %}
                {% if bill.obj.getFileType == 'image' %}
                    '<img src="{{ url('index') }}upload/bills/{{ bill.obj.getPath }}" class="file-preview-image" alt="" />',
                {% else %}
                    '{{ url('index') }}upload/bills/{{ bill.obj.getPath }}',
                {% endif %}
            {% endfor %}
            ],
            initialPreviewAsData: true,
            hideThumbnailContent: true,
            initialPreviewConfig: [
            {% for bill in expired %}
                {% if bill.obj.getFileType == 'image' %}
                    {type: '{{ bill.obj.getFileType }}', caption: '{{ bill.obj.getFilename }}', downloadUrl: '{{ url('index') }}upload/bills/{{ bill.obj.getPath }}', previewAsData: false},
                {% else %}
                    {type: '{{ bill.obj.getFileType }}', caption: '{{ bill.obj.getFilename }}', downloadUrl: '{{ url('index') }}upload/bills/{{ bill.obj.getPath }}'},
                {% endif %}
            {% endfor %}
            ],
            language: 'ru'
        };
    </script>
  {% endif %}
  <script src="{{ asset('js/applications/index.js') }}" type="text/javascript"></script>

  {% if scripts is defined %}
{{ scripts|raw }}
  {% endif %}
{% endblock %}