{# templates/stock/add-tn.html.twig #}
{% extends 'default.html.twig' %}

{# Заголовки #}
{% block title %}{{ title }}{% endblock %}
{% block caption %}{{ title }}{% endblock %}

{# Контент #}
{% block content %}
    {% set materialsCount = 0 %}
    {% for material in materials %}
        {% if material.count > 0 %}
            {% set materialsCount = materialsCount + 1 %}
        {% endif %}
    {% endfor %}

    {% if materialsCount == 0 %}
        <p class="text-small text-warning"><i class="bi bi-exclamation-triangle"></i> На складе нет материалов, доступных к перемещению на основании данного поступления</p>
    {% else %}
        <form class="mb-2" action="/stock/add/tn" method="POST" id="add-tn-form">
            <fieldset>
                <input type="hidden" name="token" value="{{ csrf_token('add-tn') }}"/>
                <input type="hidden" name="files" value=""/>
                <input type="hidden" name="add-tn-parnet" value="{{ stock.getId }}"/>
                <div class="container-fluid w-100 overflow-scroll px-0 mb-2">
                    <table class="table table-borderless">
                        <tbody>
                            <tr>
                                <td class="ps-0" style="width: 180px;">Склад приемник</td>
                                <td class="w-auto">
                                    <select class="form-select form-select-sm" name="add-tn-office">
                                        {% for office in offices %}
                                            {% if office.getId != 3 %}
                                                <option value="{{ office.getId }}"{% if office.getId == 2 %} selected{% endif %}>{{ office.getTitle }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                    <div class="form-text mt-0">Выберите склад в который производится перемещение</div>
                                </td>
                            </tr>
                            <tr>
                                <td class="ps-0"><label for="add-tn-way">Перевозка</label></td>
                                <td class="w-auto">
                                    <input id="add-tn-way" type="text" name="add-tn-way" class="form-control form-control-sm" />
                                    <div class="form-text mt-0">Чем осуществляется отправка</div>
                                </td>
                            </tr>
                            <tr>
                            <tr>
                                <td class="ps-0"><label for="add-tn-date">Дата документа</label></td>
                                <td class="w-auto">
                                    <input id="add-tn-date" name="add-tn-date" type="date" class="form-control form-control-sm should-be-validated" data-sbv-expression="^(\d{4})-(\d{1,2})-(\d{1,2})$" data-sbv-notification-target="sbv-date" data-sbv-notification="Неверный формат даты" value="{{ 'now'|date('Y-m-d') }}" />
                                    <div class="form-text mt-0" id="sbv-date">Дата перемещения</div>
                                </td>
                            </tr>
                            <tr>
                                <td class="ps-0">Привязка к заявкам</td>
                                <td class="w-auto">
                                    <button type="button" class="btn btn-sm btn-outline-primary" data-bs-target="#applicationsModal" data-bs-toggle="modal" data-bs-dismiss="modal" id="pickBtn">Выбрать</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="container-fluid w-100 px-0 overflow-scroll mt-0 mb-1 pb-3">
                    <table class="table table-sm table-bordered table-striped mb-0 us-none" style="min-width: 900px;" id="materialsTable">
                        <thead>
                            <tr>
                                <th class="py-2 align-middle text-center text-xsmall" scope="col" style="width: 50px;">№</th>
                                <th class="py-2 align-middle text-xsmall" scope="col">Наименование</th>
                                <th class="py-2 align-middle text-nowrap text-xsmall" scope="col" style="width: 120px;">Ед.изм.</th>
                                <th class="py-2 align-middle text-xsmall" scope="col" style="width: 100px;">Кол-во</th>
                                <th class="py-2 align-middle text-nowrap text-xsmall" style="width: 100px;" scope="col">Цена</th>
                                <th class="py-2 align-middle text-nowrap text-xsmall" style="width: 100px;" scope="col">Сумма</th>
                                <th class="py-2 align-middle text-nowrap text-xsmall" style="width: 100px;" scope="col">НДС</th>
                                <th class="py-2 align-middle text-nowrap text-xsmall" style="width: 100px;" scope="col">Всего</th>
                                <th class="text-center align-middle" style="width: 50px;"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for material in materials %}
                                {% if material.count > 0 %}
                                    <tr class="sbv-parent">
                                        <td class="align-middle text-center text-xsmall">{{ loop.index }}</td>
                                        <td class="align-middle text-xsmall">{{ material.obj.getTitle }}</td>
                                        <td class="align-middle text-center text-xsmall">{{ material.obj.getUnit.getTitle }}</td>
                                        <td class="align-middle">
                                            <input type="hidden" name="add-tn-material-id[]" value="{{ material.obj.getId }}" />
                                            <input class="form-control form-control-sm should-be-validated" type="number" max="{{ material.count }}" value="{{ material.count }}" name="add-tn-count[]" data-sbv-expression="^\d+.*\d*$" data-sbv-depence-of="true" />
                                        </td>
                                        <td class="align-middle text-xsmall">{{ material.obj.getPrice|number_format(2, '.', ' ') }}</td>
                                        <td class="align-middle text-xsmall">{{ material.sum|number_format(2, '.', ' ') }}</td>
                                        <td class="align-middle text-xsmall">{{ material.tax|number_format(2, '.', ' ') }}</td>
                                        <td class="align-middle text-xsmall">{{ material.total|number_format(2, '.', ' ') }}</td>
                                        <td class="text-center align-middle"><i class="bi bi-trash text-danger fs-6 delete-row"></i></td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                <h5 class="mb-3">Дополнительные файлы</h5>

                <div class="mb-4">
                    <div class="file-loading">
                        <input id="attach" type="file" name="filesApp[]" multiple="multiple" />
                    </div>
                    <div class="clearfix"></div>
                </div>
            </fieldset>

            <div class="clearfix"></div>

            <button type="button" class="btn btn-outline-primary mb-5 me-2 sbv-submit" id="sendBtn">Создать</button>
            <a type="button" class="btn btn-outline-secondary mb-5 me-2" href="/stock">Отмена</a>
            <div class="spinner-border text-primary d-none" role="status" style="margin-bottom: 0.8rem!important;"><span class="visually-hidden">Обработка...</span></div>
        </form>
    {% endif %}
{% endblock %}

{# Модальные окна #}
{% block modal %}
    {# Привязка к заявкам #}
    <div class="modal fade" id="applicationsModal" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Выбор материалов</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                </div>
                <div class="modal-body">
                    {% if appmaterials|length == 0 %}
                        <p class="text-muted mb-0">Нет материалов привязанных к приходному ордеру</p>
                    {% else %}
                        <div class="container-fluid w-100 overflow-scroll px-0">
                            <table class="table table-sm mb-0 table-hover table-striped table-bordered" style="min-width: 900px;">
                                <thead>
                                    <tr>
                                        <th class="py-2 align-middle text-center text-xsmall" scope="col" style="width: 50px;">№</th>
                                        <th class="py-2 align-middle text-center" scope="col" style="width: 50px;"><input type="checkbox" name="" value="" class="form-check-input material-select-all" /></th>
                                        <th class="py-2 align-middle text-xsmall text-nowrap" scope="col" style="width: 150px;">К отправке</th>
                                        <th class="py-2 align-middle text-xsmall" scope="col">Наименование</th>
                                        <th class="py-2 align-middle text-nowrap text-xsmall" scope="col">Заявка</th>
                                        <th class="py-2 align-middle text-nowrap text-xsmall" scope="col">Вид техники</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for appmaterial in appmaterials %}
                                        <tr>
                                            <td class="align-middle text-center text-xsmall">{{ loop.index }}</td>
                                            <td class="py-2 align-middle text-center" scope="col">
                                                <input type="checkbox" name="material[]" value="{{ appmaterial.getMaterial.getId }}" class="form-check-input material-select" />
                                                <input type="hidden" class="application-input" name="application[]" value="{{ appmaterial.getMaterial.getMaterial.getApplication.getId }}" />
                                                <input type="hidden" class="bill-input" name="bill[]" value="{{ appmaterial.getMaterial.getBill.getId }}" />
                                            </td>
                                            <td class="align-middle text-center"><input type="number" name="amount[]" value="{{ appmaterial.getAmount }}" class="amount-input form-control form-control-sm" min="0" max="{{ appmaterial.getAmount }}" /></td>
                                            <td class="align-middle text-xsmall">{{ appmaterial.getMaterial.getMaterial.getTitle }}{% if appmaterial.getMaterial.getMaterial.getUrgency %} <i class="bi bi-exclamation-triangle text-danger" data-bs-toggle="tooltip" data-bs-placement="right" title="Срочная позиция"></i> <span class="text-danger">Срочно</span>{% endif %}</td>
                                            <td class="align-middle text-xsmall text-nowrap"><a href="/applications/view?number={{ appmaterial.getMaterial.getMaterial.getApplication.getId }}">#{{ appmaterial.getMaterial.getMaterial.getApplication.getId }}</a> <i class="bi bi-arrow-right"></i> {{ appmaterial.getMaterial.getMaterial.getNum }} поз.</td>
                                            <td class="align-middle text-xsmall">{% if appmaterial.getMaterial.getMaterial.getTypeOfEquipment != null %}{{ appmaterial.getMaterial.getMaterial.getTypeOfEquipment.getTitle() }}{% endif %}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% endif %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-target="#finishForm" data-bs-toggle="modal" data-bs-dismiss="modal" id="pickConfirmBtn">Готово</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{# Скрипты #}
{% block scripts %}
    <script src="{{ asset('js/jquery.autocomplete.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/fileinput.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/fileinput.ru.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/jquery.form.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/stock/add-tn.js') }}" type="text/javascript"></script>
{% endblock %}

{# Стили #}
{% block css %}
    <link href="{{ asset('css/fileinput.css') }}" rel="stylesheet">
{% endblock %}