{# templates/applications/index.html.twig #}
{% extends 'default.html.twig' %}

{# Заголовки #}
{% block title %}{{ title }}{% endblock %}
{% block caption %}{{ title }}{% endblock %}

{# Хлебные крошки #}
{% block breadcrumbs %}
  <nav aria-label="breadcrumb" class="mt-4 d-block">
    <ol class="breadcrumb text-xsmall mb-3">
      <li class="breadcrumb-item" aria-current="page"><a href="/"><i class="bi bi-three-dots"></i></a></li>
      <li class="breadcrumb-item" aria-current="page"><a href="/applications">Активные заявки</a></li>
      {% if breadcrumbs is defined %}
          {% for breadcrumb in breadcrumbs %}
              {% if loop.last %}
                  <li class="breadcrumb-item active" aria-current="page">{{ breadcrumb.title }}</li>
              {% else %}
                  <li class="breadcrumb-item" aria-current="page"><a href="{{ breadcrumb.href }}">{{ breadcrumb.title }}</a></li>
              {% endif %}
          {% endfor %}
      {% endif %}
    </ol>
  </nav>
{% endblock %}

{% set fileId = 0 %}

{# Контент #}
{% block content %}
  <div class="table-responsive w-100">
    <table class="table table-hover table-bordered table-striped text-xsmall mb-2">
      <thead>
        <tr>
          <th class="align-middle text-nowrap">Документ поступления / Номенклатура</th>
          <th class="align-middle text-nowrap">Ед. изм</th>
          <th class="align-middle text-nowrap">Поступило</th>
          <th class="align-middle text-nowrap">Списано</th>
          <th class="align-middle">Остаток</th>
        </tr>
      </thead>
      <tbody>
        {% for result in results %}
          <tr class="table-primary">
            <td colspan="5">
              <a href="/stock/view/pm?number={{ result.stock.getId }}">Поступление материалов №{{ result.stock.getId }}</a> от {{ result.stock.getDate|date('d.m.Y') }} ({{ result.provider.getTitle }})
            </td>
          </tr>
          {% for material in result.materials %}
            <tr>
              <td>{{ material[0].getTitle }}</td>
              <td>{{ material[0].getUnit.getTitle }}</td>
              <td>{{ material[2] }}</td>
              <td>{{ material[2] - material[1] }}</td>
              <td>{{ material[1] }}</td>
            </tr>
          {% endfor %}  
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}

{# Скрипты #}
{% block scripts %}
    <script src="{{ asset('js/fileinput.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/fileinput.ru.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
        var params = {
            initialPreview: [
{# {% for document in documents %}
    {% if not document.files is empty %}
        {% for file in document.files %}
          {% if file.type == 'image' %}
            '<img src="{{ url('index') }}upload/stock/{{ file.path }}" class="file-preview-image" alt="" />',
          {% else %}
            '{{ url('index') }}upload/stock/{{ file.path }}',
          {% endif %}
        {% endfor %}
    {% endif %}
{% endfor %} #}
            ],
            initialPreviewAsData: true,
            hideThumbnailContent: true,
            initialPreviewConfig: [
{# {% for document in documents %}
    {% if not document.files is empty %}
        {% for file in document.files %}
          {% if file.type == 'image' %}
            {type: '{{ file.type }}', caption: '{{ file.name }}', downloadUrl: '{{ url('index') }}upload/stock/{{ file.path }}', previewAsData: false},
          {% else %}
            {type: '{{ file.type }}', caption: '{{ file.name }}', downloadUrl: '{{ url('index') }}upload/stock/{{ file.path }}'},
          {% endif %}
        {% endfor %}
    {% endif %}
{% endfor %} #}
            ],
            language: 'ru'
        };
    </script>
    <script src="{{ asset('js/stock/stock.js') }}" type="text/javascript"></script>
  
  {% if scripts is defined %}
    {{ scripts|raw }}
  {% endif %}
{% endblock %}

{# Стили #}
{% block css %}
    <link href="{{ asset('css/fileinput.css') }}" rel="stylesheet">
{% endblock %}